In [2]:
# LISTS
#List is a heterogenious data structure , it can also contain homogeneous data

list_demo = ['Shree Ganesh', "Narayan Narayan",11,1978,13.7] #creating a list
list_demo # printing a list. we can aslo use print(list_demo)

['Shree Ganesh', 'Narayan Narayan', 11, 1978, 13.7]

In [3]:
print(list_demo)

['Shree Ganesh', 'Narayan Narayan', 11, 1978, 13.7]

In [4]:
list_demo[0] #printing  n elements (zeroth in this case). this is called 'slicing'

'Shree Ganesh'

In [5]:
list_demo[-1]# revesrse slicing.the last element is -1 st element in reverse slicing

13.7

In [6]:
len(list_demo) # length of the list i.e how many elements are there

5

In [7]:
list_demo[:4]# prinitng range of elements.it has taken zeroth element as the start of range by default

['Shree Ganesh', 'Narayan Narayan', 11, 1978]

In [9]:
list_demo[1:4:2]# here 2 is interval

['Narayan Narayan', 1978]

In [10]:
list_of_numbers = [1195, 11.34, 67, 7560, 1.03, 9090, 1000] #new list

In [11]:
list_of_numbers[1] # value at the 1st index

11.34

In [34]:
list_of_numbers.sort # for sorting the list.default is acsending

In [35]:
list_of_numbers

[1.03, 11.34, 67, 1000, 1195, 7560, 9090]

In [38]:
list_of_numbers.sort(reverse=True) # to print in descending order

In [39]:
list_of_numbers

[9090, 7560, 1195, 1000, 67, 11.34, 1.03]

In [52]:
sorted(list_of_numbers) #another way to sort the list.Default is ascending

[1.03, 11.34, 67, 1000, 1195, 7560, 9090]

In [53]:
sorted(list_of_numbers,reverse=True) # descending

[9090, 7560, 1195, 1000, 67, 11.34, 1.03]

In [54]:
list_of_numbers.reverse() # to reverse the list

In [55]:
list_of_numbers

[1.03, 11.34, 67, 1000, 1195, 7560, 9090]

In [56]:
list_of_numbers

[1.03, 11.34, 67, 1000, 1195, 7560, 9090]

In [57]:
list_of_numbers.reverse()

In [58]:
list_of_numbers

[9090, 7560, 1195, 1000, 67, 11.34, 1.03]

In [59]:
list_of_numbers.insert(3,1213) # inserting 1213 value at 3rd index

In [60]:
list_of_numbers

[9090, 7560, 1195, 1213, 1000, 67, 11.34, 1.03]

In [64]:
list_of_numbers.extend([101,102,103]) #adding values at the end of the list

In [65]:
list_of_numbers

[9090, 7560, 1195, 1213, 1000, 67, 11.34, 1.03, 101, 102, 103]

In [67]:
list_new = list_demo + list_of_numbers # adding lists

In [72]:
list_new

['Shree Ganesh',
 'Narayan Narayan',
 11,
 1978,
 13.7,
 9090,
 7560,
 1195,
 1213,
 1000,
 67,
 11.34,
 1.03,
 101,
 102,
 103]

In [76]:
list_new.pop() # deletes the last record

103

In [77]:
list_new

['Shree Ganesh',
 'Narayan Narayan',
 11,
 1978,
 13.7,
 9090,
 7560,
 1195,
 1213,
 1000,
 67,
 11.34,
 1.03,
 101,
 102]

In [79]:
list_new.pop(3) # deletes value at 3rd index

1978

In [80]:
list_new

['Shree Ganesh',
 'Narayan Narayan',
 11,
 13.7,
 9090,
 7560,
 1195,
 1213,
 1000,
 67,
 11.34,
 1.03,
 101,
 102]

In [ ]:
list